apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-deployment
  labels:
    app: inventory
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory
          image: 361769595099.dkr.ecr.us-east-1.amazonaws.com/ecommerce-inventory:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: redis-config
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  labels:
    app: inventory
spec:
  selector:
    app: inventory
  ports:
    - port: 8002
      targetPort: 8000
  type: ClusterIP