apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-deployment
  labels:
    app: payments
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
        - name: payments
          image: 361769595099.dkr.ecr.us-east-1.amazonaws.com/ecommerce-payments:latest
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: payments-service
  namespace: shop
  labels:
    app: payments
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8003"
spec:
  selector:
    app: payments
  ports:
    - name: http
      port: 8003
      targetPort: 8003
  type: ClusterIP