apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
  namespace: shop
  labels:
    app: users
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      serviceAccountName: app-secrets-sa
      containers:
        - name: users
          image: 361769595099.dkr.ecr.us-east-1.amazonaws.com/ecommerce-users:latest
          ports:
            - containerPort: 8080
          # === Added resources section ===
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi
          env:
            # From ConfigMap: host + DB name (now RDS DB)
            - name: MYSQL_HOST
              valueFrom:
                configMapKeyRef:
                  name: shop-config
                  key: MYSQL_HOST
            - name: MYSQL_DB
              valueFrom:
                configMapKeyRef:
                  name: shop-config
                  key: MYSQL_DB

            # From Secret: creds fetched from AWS Secrets Manager via CI
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-credentials
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-credentials
                  key: MYSQL_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: users-service
  namespace: shop
  labels:
    app: users
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"   # container port where Spring Boot exposes actuator
spec:
  selector:
    app: users
  ports:
    - name: http
      port: 8083        # cluster IP port
      targetPort: 8080  # forwards to container port 8080
  type: ClusterIP