apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
  labels:
    app: users
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: 361769595099.dkr.ecr.us-east-1.amazonaws.com/ecommerce-users:latest
          ports:
            - containerPort: 8080
          env:
            # ==========================
            # Database: ConfigMap values
            # ==========================
            - name: MYSQL_HOST
              valueFrom:
                configMapKeyRef:
                  name: shop-config
                  key: MYSQL_HOST
            - name: MYSQL_DB
              valueFrom:
                configMapKeyRef:
                  name: shop-config
                  key: MYSQL_DB

            # ==========================
            # Database credentials: Secret
            # ==========================
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-credentials
                  key: MYSQL_USER

            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-credentials
                  key: MYSQL_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: users-service
spec:
  selector:
    app: users
  ports:
    - port: 8083
      targetPort: 8080