name: Test Bastion Runner

on:
  workflow_dispatch: {}

jobs:
  test:
    runs-on: [ self-hosted, bastion ]

    steps:
      - name: Show where I am
        run: |
          echo "Hostname:"
          hostname
          echo "AWS identity:"
          aws sts get-caller-identity

      - name: Check EKS access
        run: |
          aws eks update-kubeconfig --region us-east-1 --name ecommerce-eks-cluster
          kubectl get nodes