services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

  products:
    build: ./services/products
    container_name: products
    environment:
      MONGO_URI: ${MONGO_URI}
      MONGO_DB: ${MONGO_DB}
      MONGO_PRODUCTS_COLLECTION: ${MONGO_PRODUCTS_COLLECTION}
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "8001:8000"

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  users:
    build: ./services/users-java
    container_name: users
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_DB: ${MYSQL_DB}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8083:8080"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  inventory:
    build: ./services/inventory
    container_name: inventory
    environment:
      REDIS_URL: ${REDIS_URL}
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "8002:8000"

  orders:
    build: ./services/orders-java
    container_name: orders
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_DB: ${MYSQL_DB}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8084:8080"

  payments:
    build: ./services/payments
    container_name: payments
    ports:
      - "8003:8000"

  storefront:
    build:
      context: ./services/storefront
    ports:
      - "3000:80"
    depends_on:
      - users
      - products
      - inventory
      - orders
      - payments