version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

  products:
    build: ./services/products
    container_name: products
    environment:
      MONGO_URI: mongodb://mongo:27017/shop
      MONGO_DB: shop
      MONGO_PRODUCTS_COLLECTION: products
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "8001:8000"